<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<div class="container">
<header>
  <!-- <div class="logo" alt="logo"></div> -->
  <h1>Luna Store</h1>
<nav>
  <ul class="nav_links">
    <li>
      <fa-icon [icon]="faHome"></fa-icon>
      <a href="#">Home</a>
    </li>
    <li>
      <fa-icon [icon]="faUsers"></fa-icon>
      <a href="#">Pessoas</a>
    </li>
    <li>
      <fa-icon [icon]="faBox"></fa-icon>
      <a href="#">Produtos/Serviços</a>
    </li>
    <li>
      <fa-icon [icon]="faMoneyBill"></fa-icon>
      <a href="#">Financeiro</a>
    </li>
  </ul>
</nav>
</header>

<body>
</body>
</div>
</html>
