<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<div class="container">
<header>

    <a href="#">
    <img class="logo" src="assets/moon.png">
    </a>
<nav>

  <ul class="nav_links">
    <li>
      <a href="#">
      <fa-icon [icon]="faHome"></fa-icon>
      Home
    </a>
    </li>

    <li>
      <a href="#">
      <fa-icon [icon]="faUsers"></fa-icon>
      Pessoas
      </a>
    </li>

    <li>
    <a href="#">
      <fa-icon [icon]="faBox"></fa-icon>
      Produtos/Serviços
    </a>
    </li>
    <li>
    <a href="#">
      <fa-icon [icon]="faMoneyBill"></fa-icon>
      Financeiro
    </a>
    </li>
  </ul>
</nav>
</header>

<body>
</body>
</div>
</html>
